/*
  ----------------------------------------
  Prewind Theme
  https://github.com/codepilotsf/prewind
  ----------------------------------------
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&display=swap");

:root {
  /* Fonts */
  --font-body: "Inter", system-ui, sans-serif;
  --font-heading: "Inter", system-ui, sans-serif;
  --font-thin: 200;
  --font-normal: 400;
  --font-semibold: 600;
  --font-bold: 700;
  --font-heavy: 900;

  /* Brand Colors */
  --brand-1: #0284c7; /* Sky blue */
  --brand-1-light: #e0f2fe;
  --brand-2: #0c4a6e; /* Blue */
  --brand-2-light: #bae6fd;
  --brand-3: #0f766e; /* Teal */
  --brand-3-light: #99f6e4;
  --brand-4: #a21caf; /* Fuchsia */
  --brand-4-light: #f5d0fe;

  /* Neutral Colors */
  --black: #09090b;
  --darker: #27272a;
  --dark: #3f3f46;
  --midtone: #71717a;
  --light: #d4d4d8;
  --lighter: #f4f4f5;
  --white: #ffffff;

  /* Semantic Colors */
  --success: #16a34a; /* Green */
  --success-light: #dcfce7;
  --info: #2563eb; /* Blue */
  --info-light: #dbeafe;
  --warning: #ea580c; /* Orange */
  --warning-light: #ffedd5;
  --error: #b91c1c; /* Red */
  --error-light: #fee2e2;
  --link: #2563eb; /* Blue */
  --highlight: #fef08a; /* Yellow */

  /* Border & Outline Widths */
  --border: 1px;
  --border-sm: 0.5px;
  --border-lg: 2px;

  /* Border Radius */
  --rounded: 0.25rem;
  --rounded-sm: 0.125rem;
  --rounded-lg: 0.5rem;

  /* Shadow */
  --shadow: 0 4px 4px 1px rgb(0 0 0 / 0.15), 0 2px 4px -2px rgb(0 0 0 / 0.25);
  --shadow-sm:
    0 2px 3px -0.5px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-lg:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  /* Container */
  --container-max: 1200px;
  --container-padding: 0 var(--space-lg);

  /* Width Constraints */
  --max-w-text: 80ch;
  --max-w-form: 40rem;

  /* Fluid Text Scale – Generated with: `npx prewindcss text`
     Min viewport: 320px
     Max viewport: 1600px
     Min base size: 14px
     Max base size: 18px
     Min ratio: 1.25 - Major Third
     Max ratio: 1.414 - Augmented Fourth
  */
  --text-sm: clamp(0.7rem, 0.6761rem + 0.1195vw, 0.7956rem);
  --text-base: clamp(0.875rem, 0.8125rem + 0.3125vw, 1.125rem);
  --text-lg: clamp(1.094rem, 0.9695rem + 0.6212vw, 1.591rem);
  --text-xl: clamp(1.367rem, 1.147rem + 1.103vw, 2.249rem);
  --text-2xl: clamp(1.709rem, 1.341rem + 1.839vw, 3.181rem);
  --text-3xl: clamp(2.136rem, 1.546rem + 2.951vw, 4.497rem);
  --text-4xl: clamp(2.67rem, 1.748rem + 4.611vw, 6.359rem);

  /* Fluid Space Scale – Generated with: `npx prewindcss space`
     Min viewport: 320px
     Max viewport: 1600px
     Min sm size: 12px
     Max sm size: 18px
     Min ratio: 1.333 - Perfect Fourth
     Max ratio: 1.667 - Major Sixth
  */
  --space-3xs: clamp(0.3166rem, 0.3351rem + -0.09224vw, 0.2429rem);
  --space-2xs: clamp(0.4221rem, 0.4264rem + -0.02156vw, 0.4048rem);
  --space-xs: clamp(0.5626rem, 0.5346rem + 0.1403vw, 0.6749rem);
  --space-sm: clamp(0.75rem, 0.6563rem + 0.4688vw, 1.125rem);
  --space-md: clamp(0.9997rem, 0.7808rem + 1.095vw, 1.875rem);
  --space-lg: clamp(1.333rem, 0.8843rem + 2.242vw, 3.126rem);
  --space-xl: clamp(1.776rem, 0.9177rem + 4.294vw, 5.211rem);
  --space-2xl: clamp(2.368rem, 0.7881rem + 7.899vw, 8.688rem);
  --space-3xl: clamp(3.157rem, 0.3252rem + 14.16vw, 14.48rem);
  --space-4xl: clamp(4.208rem, 0.7758rem - 24.92vw, 24.14rem);
}
